/*
Program       esci-web.css
Author        Gordon Moore
Date          14 July 2020
Description   CSS for esci-web (menu)
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1         Initial version
0.1.0          2020-07-25 The first attempt
0.1.1

#endregion */


/*-------------------------------------------------------------------------------------------*/

/*-------------------------------------Menu items--------------------------------------------*/

#mainmenu {
  /* border: 1px solid red; */
  height: 30rem;   /*change this when adding new menus - it acts as a hot spot*/
}

.menus {
  background-color: lemonchiffon;
  border: 2px solid blue;
  border-radius: 10px;
  height: 4rem;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  padding: 1.0rem;
  font-size: 2.5rem;
}

.menus:hover {
  background-color: lightgreen;
}

.menus:active {
  background-color: green;
}

.menuitems {
  border: 1px solid green;
  border-radius: 15px;
  margin: 3rem;
  padding: 1rem;
  background-color: palegreen;
  width: 50rem;
  font-size: 2.0rem;
}


/*-----------------------------right panel--------------------------------*/


#bookimage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
}

#bkimage {
  width: 40rem;
  height: 60rem;
}

#blurb {
  font-size: 3rem;
}

#esciheader {
  margin-top: 1.0rem;
  font-size: 2.2rem;
  font-weight: bold;
}

#esciblurb {
  margin-top: 2rem;
  font-size: 1.8rem;
}


#dances {
  margin-top: 2rem;
  width: 50rem;
  height: 40rem;
}

#distributions {
  margin-top: 2rem;
  width: 50rem;
  height: 40rem;
}