/*
Program       esci-web.css
Author        Gordon Moore
Date          14 July 2020
Description   CSS for esci-web (menu)
Licence       GNU General Public LIcence Version 3, 29 June 2007
*/

/* #region Version history

0.0.1         Initial version
0.1.0          2020-07-25 The first attempt
0.1.3
0.1.4   2020-08-07  Just adjusted font size of menu items and allowed some padding on main image at right
0.1.5   2020-08-07  More slight adjustments to right panel
0.1.8
0.1.9   2020-08-24  #1 Make changes re specification
0.1.10  2020-08-25  #1 Added New Edition
0.1.11  2020-08-25  #? Split see r into 2 menu items
0.1.12  2020-08-26  #4 Tips added
0.1.13  2020-08-26  #3 Tweaks to words and colour
0.1.14  2020-08-27  #3 Tweaks to words and colour
0.1.15
1.0.4   18 Oct 2020 Did tweaks to the menu image display to make smoother  
1.0.5   18 Oct 2020 Make images clickable
1.0.6
1.0.7   6 Nov 2020 Consolidation of all programs into one github repository

#endregion */


/*-------------------------------------------------------------------------------------------*/

.black {
  color: black;
}

.red {
  color:red;
}

.darkgrey {
  color: #1E1E1E;
}

.blue {
  color: blue;
}

#leftpanel {
  grid-template-rows: auto 1fr auto !important;
}

/*-------------------------------------Menu items--------------------------------------------*/

#mainpage {
  display: grid;
  grid-template-columns: 40rem auto;
  grid-column-gap: 30px;
  height: 100%;
}


#mainmenu {
  /* border: 1px solid red; */
  height: 30rem;   /*change this when adding new menus - it acts as a hot spot*/
}

.menus {
  background-color: lemonchiffon;
  border: 2px solid blue;
  border-radius: 10px;
  height: 2.0rem;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 5px;
  padding-left: 1.0rem;
  padding-top: 0.8rem;
  padding-bottom: 1.0rem;
  font-size: 1.8rem;
}

#menubottom {
  background-color: lightyellow !important;
  border: none;
}

.menus:hover {
  background-color: lightgreen;
}

.menus:active {
  background-color: green;
}

.menuitems {
  border: 1px solid green;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 1rem;
  padding: 0.5rem;
  /* background-color: palegreen; */
  width: 37rem;
  font-size: 2.0rem;
}

.menuimage {
  margin-top: 0rem;
  width: 37rem;
  height: 20rem;
}


/*-----------------------------right panel--------------------------------*/

#rightpanel {
}

#rightpanelgrid {
  display: grid;
  grid-template-columns: 22rem auto;
  grid-column-gap: 2rem;
}

#bkimage {
  width: 220px;
  height: 310px;
  padding-right: 5rem;
}

#esciimage {
  width: 210px;
  height: 150px;
  padding-top: 2rem;
  padding-right: 0rem;
}


.itnsblurb {
  margin-top: 2rem;
  font-size: 1.8rem;
}

#itnsblurbline2 {
  margin-left: 1rem;
}

#itnsoverlaytext {
  /* border: 1px solid black; */
  border-radius: 10px;
  font-size: 1.8rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: -18rem;
  margin-left: 0.2rem;
  height: 4rem;
  background-color: #DBF9DB;
  transform: rotate(20deg);
  color: firebrick;
  font-weight: bold;
}

#escitext {
  margin-top: 8rem;
  font-size: 1.8rem;
}

.esciblurb {
  margin-top: 2rem;
  font-size: 1.8rem;
}

li {
  font-size: 1.8rem;
}